<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  Hello,
  <%= @user.name %>
</h1>
<p>
  Your Selected name:
  <%= @user.name %><br>
  Your email:
  <%= @user.email %><br>
</p>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>



<%= link_to 'Back', articles_path %>
<%= link_to 'users', user_path %>
